<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link href="/img/weather.png" rel="icon">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        {{>header}}
        <p>
            {{helpText}}
        </p>
    </div>
    {{>footer}}
</body>

</html>